<div fxFlexFill fxLayoutAlign="center center" >
    <mat-card class="mat-elevation-z8" fxFlex="50" >
      <mat-card-title class="title">Créer un nouveau mot de passe </mat-card-title>
      <form fxLayoutAlign="stretch" fxLayout="column">
        <div>
            <mat-form-field class="form-group col-md-6" >
                <mat-label>Ancien mot de passe</mat-label>
                <input  matInput type="password" required />
            </mat-form-field>
            <mat-form-field class="form-group col-md-6">
                <mat-label>Nouveau mot de passe</mat-label>
                <input  matInput type="password" required />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="form-group col-md-6" >
                <mat-label>Siret</mat-label>
                <input  matInput type="text" required />
            </mat-form-field>
            <mat-form-field class="form-group col-md-6" >
                <mat-label>Description</mat-label>
                <input  matInput type="text" required/>
            </mat-form-field>
        </div> 
        <div>
            <mat-form-field class="form-group col-md-6">
                <mat-label>Nombre d'employés</mat-label>
                <input  matInput type="number" [min]="1" required />
            </mat-form-field>
            <mat-form-field class="form-group col-md-6">
                <mat-label>Site web</mat-label>
                <input  matInput type="text" placeholder="Url du site web" required />
            </mat-form-field>
        </div>
        <div>
            <div class="form-group col-md-6">
                <label for = "type">Type transformateur</label>
                <select id ="type"  name = "selectedType" [(ngModel)]="selectedType" class="form-control" >
                  <option></option>
                  <option *ngFor="let item of type">{{item.libelle}}</option>
                </select>
            </div>
            
            
        </div> 
        <div fxLayoutAlign="center center"><button mat-raised-button type="submit" color="warn" mat-stroked-button class="button">Réinitialiser le mot de passe</button></div>
    </form>
    </mat-card>
</div>