<div class="main-div"fxFlexFill fxLayoutAlign="center center" >
    <mat-card class="mat-elevation-z8" fxFlex="50" >
      <mat-card-title class="title">Créer un nouveau mot de passe </mat-card-title>
      <form fxLayoutAlign="stretch" fxLayout="column">
        <div>
            <mat-form-field class="form-group col-md-6" >
                <mat-label>Nouveau mot de passe</mat-label>
                <input matInput type="password" [(ngModel)]="newPassword" required />
            </mat-form-field>
            <mat-form-field class="form-group col-md-6">
                <mat-label>Confirmer nouveau mot de passe</mat-label>
                <input matInput type="password" [(ngModel)] ="newPasswordConfirmation" required />
            </mat-form-field>
        </div>
        <div fxLayoutAlign="center center"><button mat-raised-button type="submit" color="warn" mat-stroked-button class="button">Réinitialiser le mot de passe</button></div>
    </form>
    </mat-card>
</div>
