.mat-user-validation {
  max-width: 95%!important;
}
.table-container {
  height: 400px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  margin: 0 auto;
  padding: 2%;
}

mat-table {
  width: 100%;
  display: inline-block;
  flex: 0 0 100px !important;
  white-space: unset !important;
}

mat-cell {
  word-break: break-all;
  word-wrap: break-word;
}

@media(max-width: 600px) {
  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }
}
.main-div {
  margin-top: 120px;
}

.btn-enable {
  color: green;
  width: 98px;
  transition: 0.5s;
}

.btn-enable:hover {
  background: #EBFFE6;
  transition: 0.5s;
}

.btn-disable {
  transition: 0.5s!important;
}

.btn-disable:hover {
  transition: 0.5s!important;
}

.filter-field {
  width: 25%;
}

mat-header-row {
  z-index: 0!important;
}
