<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="25">
      <mat-toolbar  class="toolbar"><h1>Connexion</h1></mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="login.form">
            <mat-form-field appearance = "standard">
              <input matInput placeholder="Entrer le nom d'utilisateur" >
            </mat-form-field>
            <mat-form-field appearance = "standard">
                <input matInput type="password" placeholder="Entrer le mot de passe" >
            </mat-form-field>
            <button mat-raised-button type="submit" class="style">Login</button>
            <button mat-button>Mot De Passe Oublié?</button>
        </form>
           
    </mat-card>
  </div>