<div fxLayoutAlign="center start" fxFlexFill class="main-div">
  <mat-card fxFlex="50">
    <h1>Où sont transformé les produits que vous achetez?</h1>
    <p>FoodOrigin vous permet de tracer l'origine des produits transformé que vous achetez</p>
    <p>L'application est disponible sur android, n'hésitez pas !</p>
    <img src="assets/images/google_play.png" class="left_img">

    <br>
    <h1>Trouvez facilement des produits locaux !</h1>
    
    <img src="assets/images/exemple_1.jpg" class="center_img">
    <img src="assets/images/exemple_2.jpg" class="center_img">
    <img src="assets/images/exemple_3.jpg" class="center_img">
  </mat-card>
</div>
