<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
      xmlns="http://www.w3.org/1999/html">

<form (ngSubmit)="submit()">
  <div class="fields-div">
  <div *ngIf="step == 1" class="main-div" fxFlexFill fxLayoutAlign="space-around center">
    <mat-card fxFlex="50">
      <mat-card-title class="title">Informations générales</mat-card-title>
      <form [formGroup]="myForm" #infosForm="ngForm" name="form" (ngSubmit)="infosForm.resetForm()">
        <div class="form-group col-md-12">
          <label for="description">Description</label>
          <textarea [(ngModel)]="description" [ngModelOptions]="{standalone:true}" class="form-control"
                    id="description" lang="fr" placeholder="Saisissez la présentation de votre entreprise" lang="fr" rows="3"
                    style="resize: none">
        {{this.description}}</textarea>
        </div>
        <div class="form-group col-md-8">
          <label for="nombre_employes">Nombre d'employés </label>
          <input type="number" (keypress)="validate($event)" [(ngModel)]="nbEmployes" [min]="1" [ngModelOptions]="{standalone:true}" class="form-control"
                 id="nombre_employes" type="number">
        </div>
        <div>
          <label for="siteW" class="padding-block" for="siteW">Site web </label>
        </div>
        <div class="input-icone padding-block no-padding">
          <i aria-hidden="true" class="fa fa-globe icone-size"></i>
          <input formControlName="siteW" [ngClass]="{
          'form-control':true,
          'is-invalid':!siteW.valid && siteW.touched}" [(ngModel)]="lienSite" [ngModelOptions]="{standalone:true}" name="siteW" class="form-control" id="siteW" placeholder="Url du site web"
                 type="text">
          <small *ngIf= "siteW.errors?.pattern && siteW.touched" class="form-text custom-invalid-feedback" >Saisir un lien valide </small>
        </div>
        <div class="form-group col-md-12">
          <mat-checkbox [(ngModel)]="appartientGroupe" [ngModelOptions]="{standalone:true}" class="example-margin">
            Appartient à un groupe
          </mat-checkbox>
        </div>
        <div *ngIf="appartientGroupe" class="form-group col-md-12">
          <label for="siret_groupe">Siret du groupe*</label>
          <input formControlName= "siret" [ngClass]="{
          'form-control':true,
          'is-invalid':!numSiret.valid &&  numSiret.touched}" [(ngModel)]="siretGroupe" [maxLength]="14" [ngModelOptions]="{standalone:true}" class="form-control"
                 id="siret_groupe" placeholder="Siret du groupe" type="text">
          <small *ngIf="this.siretGroupe.length < 14 && this.siretGroupe.length > 0 && numSiret.touched" class="form-text custom-invalid-feedback">Le numéro siret doit
            comporter 14 chiffres</small>
          <small *ngIf="this.siretGroupe.length == 0 && numSiret.touched" class="form-text custom-invalid-feedback">Le numéro siret est requis</small>
        </div>
        <div class="form-group col-md-12">
          <label for="labels"> Labels </label>
          <mat-select [formControl]="listLabel" class="form-control" id="labels" multiple name="labels"
                      placeholder="Selectionnez vos labels">
            <mat-option *ngFor="let label of this.labels" [value]="label">{{label.libelle}}</mat-option>
          </mat-select>
        </div>
        <div class="form-group col-md-12">
          <label for="certificat">Certifications </label>
          <mat-select [formControl]="listCertif" class="form-control" id="certificat"
                      multiple name="certificat" placeholder="Selectionnez vos certifications">
            <mat-option *ngFor="let certif of this.certifications" [value]="certif">{{certif.libelle}}</mat-option>
          </mat-select>
        </div>
      </form>
    </mat-card>
    <IMG SRC="assets/images/enSavoirPlusExplicationP1.png" class="knowMoreImg"/>
  </div>
  <div *ngIf="step == 2" class="main-div" fxFlexFill fxLayoutAlign="space-around center">
    <mat-card fxFlex="50">
      <form #rsForm="ngForm" [formGroup]="myForm" (ngSubmit)="rsForm.resetForm()">
        <mat-card-title class="title">Réseaux sociaux</mat-card-title>
        <div class="input-icone">
          <i aria-hidden="true" class="fa fa-facebook-square icone-size"></i>
          <input formControlName="lienF" [ngClass]="{
          'form-control':true,
          'is-invalid':!lienF.valid && lienF.touched}" [(ngModel)]="lienFacebook" [ngModelOptions]="{standalone:true}" name="lienF" class="form-control" id="facebook" placeholder="Lien Facebook"
                 type="text">
          <small *ngIf= "lienF.errors?.pattern && lienF.touched" class="form-text custom-invalid-feedback" >Saisir un lien valide </small>
        </div>
        <div class="input-icone">
          <i aria-hidden="true" class="fa fa-twitter-square icone-size"></i>
          <input formControlName="lienT" [ngClass]="{
          'form-control':true,
          'is-invalid':!lienT.valid && lienT.touched}" [(ngModel)]="lienTwitter" [ngModelOptions]="{standalone:true}" name="lienT" class="form-control" id="twitter" placeholder="Lien Twitter"
                 type="text">
          <small *ngIf= "lienT.errors?.pattern && lienT.touched" class="form-text custom-invalid-feedback" >Saisir un lien valide </small>
        </div>
        <div class="input-icone">
          <i aria-hidden="true" class="fa fa-instagram icone-size"></i>
          <input formControlName="lienI" [ngClass]="{
          'form-control':true,
          'is-invalid':!lienI.valid && lienI.touched}" [(ngModel)]="lienInsta" [ngModelOptions]="{standalone:true}" name="lienI" class="form-control" id="instagram" placeholder="Lien Instagram"
                 type="text">
          <small *ngIf= "lienI.errors?.pattern && lienI.touched" class="form-text custom-invalid-feedback" >Saisir un lien valide </small>
        </div>
      </form>
    </mat-card>
    <IMG SRC="assets/images/enSavoirPlusExplicationP2.png" class="knowMoreImg"/>
  </div>

  <div *ngIf="step == 3" class="main-div" fxFlexFill fxLayoutAlign="space-around center">
    <mat-card fxFlex="50">
      <mat-card-title class="title">Gestion des médias</mat-card-title>
      <h2> Images </h2>
      <div>
        <h4> Sélectionnez une ou plusieurs images : </h4>
        <form #imagesForm="ngForm">
          <input (change)="onFileChanged($event)" accept="image/*" multiple type="file">
          <button (click)="this.onUpload()" class="btn btn-primary"> Valider</button>
        </form>
      </div>
      <div>
        <h2 *ngIf="imagesLink.length > 0"> Images sauvegardées : </h2>
        <div *ngFor="let link of imagesLink">
          <img [src]="link" height="200" width="300">
          <button (click)="deleteImage(link)" class="btn btn-danger btn-del-image"> Supprimer</button>
        </div>
      </div>
    </mat-card>
    <IMG SRC="assets/images/enSavoirPlusExplicationP3.png" class="knowMoreImg"/>
  </div>
  <div *ngIf="step == 4" class="main-div" fxFlexFill fxLayoutAlign="space-around center">
    <mat-card fxFlex="50">
      <mat-card-title class="title">Gestion des médias</mat-card-title>
      <div>
        <h2> Vidéos </h2>
        <h4> Saisissez le(s) lien(s) des vidéos que vous souhaitez renseigner: </h4>
        <form [formGroup]="urlVideoForm">
          <button (click)="addUrl()" class="btn btn-primary position-bouton" type="button"> Ajouter lien</button>
          <table class="table borderless" formArrayName="urls">
            <tr *ngFor="let url of urls().controls |slice:0:10; let i = index" [formGroupName]="i">
              <td class="form-group col-md-6">
                <label for="urlV"> Lien vers la vidéo*: </label>
                <input [ngClass]="{
                'form-control':true,
                'is-invalid':!url.get('libelle').valid && url.get('libelle').touched}" class="form-control" formControlName="libelle" id="urlV" type="text" name="libelle">
                <small *ngIf= "url.get('libelle').errors?.required && url.get('libelle').touched" class="form-text custom-invalid-feedback" >Le lien est requis</small>
                <small *ngIf= "url.get('libelle').errors?.pattern && url.get('libelle').touched" class="form-text custom-invalid-feedback" >Saisir un lien valide </small>
              </td>
              <td class="form-group col-md-12">
                <label for="titreV"> Titre de la vidéo: * </label>
                <input class="form-control" formControlName="titre" id="titreV" name="titreV" type="text" [ngClass]="{'form-control':true,'is-invalid': url.get('titre').errors && url.get('titre').touched}">
                <small *ngIf="url.get('titre').errors?.required && url.get('titre').touched" class="form-text custom-invalid-feedback">Titre est requis</small>
              </td>
              <td class="center-element">
                <button (click)="removeUrl(i)" class="btn btn-danger btn-url"> Supprimer</button>
              </td>
            </tr>
          </table>
        </form>
        *Champ obligatoire
      </div>
    </mat-card>
    <IMG SRC="assets/images/enSavoirPlusExplicationP4.png" class="knowMoreImg"/>
  </div>
  <div *ngIf="step == 5" class="main-div" fxFlexFill fxLayoutAlign="space-around center">
    <mat-card fxFlex="50">
      <mat-card-title class="title"> Agriculteurs/Fermes Partenaires</mat-card-title>
      <h4> Saisissez le(s) ferme(s)/agriculteur(s) partenaires que vous souhaitez renseigner: </h4>
      <form [formGroup]="fermeForm">
        <button (click)="addFerme()" class="btn btn-primary" style="float: right" type="button"> Ajouter</button>
        <table class="table borderless" formArrayName="fermes">
          <tr *ngFor="let ferme of fermes().controls |slice:0:5; let i = index" [formGroupName]="i">
            <td>
              <div class="form-group col-md-12">
                <label for="nomF"> Nom*: </label>
                <input [ngClass]="{'form-control':true,'is-invalid': ferme.get('nom').errors && ferme.get('nom').touched}" class="form-control" formControlName="nom" id="nomF" name="nomF" type="text" placeholder="Saisissez le nom de la ferme/l'agriculteur">
                <small *ngIf="ferme.get('nom').errors?.required && ferme.get('nom').touched" class="form-text custom-invalid-feedback">Nom est requis</small>
              </div>
              <div class="form-group col-md-12">
                <label for="presentationF"> Presentation: </label>
                <textarea class="form-control" cols="45"
                          formControlName="presentation" id="presentationF" lang="fr" name="presentationF" placeholder="Saisissez la description de la ferme/l'agriculteur" rows="2"
                          style="resize: none" type="text"></textarea>
              </div>
              <div class="form-group col-md-12">
                <label for="urlF"> Lien vers le site web de la ferme: </label>
                <input [ngClass]="{'form-control':true,
              'is-invalid':!ferme.get('url').valid && ferme.get('url').touched}" class="form-control" formControlName="url" id="urlF" name="urlF" type="text" placeholder="Ex. http://www.expl.com/">
                <small *ngIf= "ferme.get('url').errors?.pattern && ferme.get('url').touched" class="form-text custom-invalid-feedback" >Saisir un lien valide</small>
              </div>
              <button (click)="removeFerme(i)" class="btn btn-danger position-bouton">Supprimer</button>
            </td>
          </tr>
        </table>
      </form>
      *Champ obligatoire
    </mat-card>
    <IMG SRC="assets/images/enSavoirPlusExplicationP5.png" class="knowMoreImg"/>
  </div>
  <div *ngIf="step == 6" class="main-div" fxFlexFill fxLayoutAlign="space-around center">
    <mat-card fxFlex="50">
      <mat-card-title class="title"> Denrées animales utilisées</mat-card-title>
      <h4> Saisissez les denrées animales utilisées et leurs origines </h4>
      <form [formGroup]="denreeForm">
        <button (click)="addDenree()" class="btn btn-primary" style="float: right" type="button"> Ajouter</button>
        <table class="table borderless" formArrayName="denrees">
          <tr *ngFor="let denree of denrees().controls |slice:0:10; let i = index" [formGroupName]="i">
            <td>
              <label for="nomD"> Type de denrée*: </label>
              <input [ngClass]="{'form-control':true,'is-invalid': denree.get('nom').errors && denree.get('nom').touched}"  class="form-control" formControlName="nom" id="nomD" name="nomD" type="text">
              <small *ngIf="denree.get('nom').errors?.required && denree.get('nom').touched" class="form-text custom-invalid-feedback">Nom est requis</small>
            </td>
            <td>
              <label for="origineD"> Origine de la denrée: </label>
              <input class="form-control" formControlName="origine" id="origineD" name="origineD" type="text">
            </td>
            <td>
              <button (click)="removeDenree(i)" class="btn btn-danger btn-del-animal-product" style="margin-top: 25px"> Supprimer</button>
            </td>
          </tr>
        </table>
      </form>
      *Champ obligatoire
    </mat-card>
    <IMG SRC="assets/images/enSavoirPlusExplicationP6.png" class="knowMoreImg"/>
  </div>
  </div>
  <div class="btn" fxFlexFill fxLayoutAlign="space-around center">
    <mat-card class="button-mat-card" fxFlex="20">
      <a (click)="previous()" *ngIf="step != 1" class="btn btn-primary mx-2">< Précédent</a>
      <button *ngIf="step != 6" class=" btn btn-primary mx-2" type="submit">Suivant ></button>
      <button class="btn btn-validate" (click)="saveInfos()" *ngIf="step == 6" color="warn" mat-raised-button mat-stroked-button type="submit">
        Valider
      </button>
    </mat-card>
  </div>
</form>
