<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      xmlns="http://www.w3.org/1999/html">
<div class="main-div" fxLayoutAlign="space-around center" fxFlexFill>
  <mat-card fxFlex="30">
    <mat-card-title class="title" >Informations générales</mat-card-title>
    <form #infosForm="ngForm" (ngSubmit)="infosForm.resetForm()">
      <div class="form-group col-md-12">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" placeholder="Saisissez la présentation de votre entreprise" lang="fr" style="resize: none" rows="3" [(ngModel)]="description" [ngModelOptions]="{standalone:true}">
        </textarea>
      </div>
      <div class="form-group col-md-8">
        <label for="nombre_employes">Nombre d'employés </label>
        <input type="number" [min]="1"  class="form-control" id="nombre_employes" placeholder="Nombre d'employés" [(ngModel)]="nbEmployes" [ngModelOptions]="{standalone:true}" (keypress)="validate($event)">
      </div>
      <div>
        <label for="siteW" class="padding-block">Site web </label>
      </div>
      <div class="input-icone padding-block no-padding">
        <i class="fa fa-globe icone-size" aria-hidden="true"></i>
        <input type="text" class="form-control" id="siteW" placeholder="Url du site web" [(ngModel)]="lienSite" [ngModelOptions]="{standalone:true}">
      </div>
      <div class="form-group col-md-12">
        <mat-checkbox class="example-margin" [(ngModel)]="appartientGroupe" [ngModelOptions]="{standalone:true}">Appartient à un groupe</mat-checkbox>
      </div>
      <div class="form-group col-md-12">
        <label for = "label">Labels </label>
        <mat-select id ="label"  name = "label" [(ngModel)]="selectedLabels" class="form-control" placeholder="Choisissez vos labels" multiple>
          <mat-option *ngFor="let label of this.labels" [value]="label">{{label.libelle}}</mat-option>
        </mat-select>
      </div>
      <div class="form-group col-md-12">
        <label for = "certificat">Certifications </label>
        <mat-select id ="certificat"  name = "certificat" [(ngModel)]="selectedCertificats" class="form-control" placeholder="Choisissez vos certifications" multiple>
          <mat-option *ngFor="let certificat of this.certificats" [value]="certificat">{{certificat.libelle}}</mat-option>
        </mat-select>
      </div>
    </form>
  </mat-card>
  <mat-card fxFlex="30">
    <form #rsForm="ngForm" (ngSubmit)="rsForm.resetForm()">
      <mat-card-title class="title" >Réseaux sociaux </mat-card-title>
      <div class="input-icone">
        <i class="fa fa-facebook-square icone-size" aria-hidden="true"></i>
        <input type="text" class="form-control" id="facebook" placeholder="Lien Facebook" [(ngModel)]="lienFacebook" [ngModelOptions]="{standalone:true}">
      </div>
      <div class="input-icone">
        <i class="fa fa-twitter-square icone-size" aria-hidden="true"></i>
        <input type="text" class="form-control" id="twitter" placeholder="Lien Twitter" [(ngModel)]="lienTwitter" [ngModelOptions]="{standalone:true}">
      </div>
      <div class="input-icone">
        <i class="fa fa-instagram icone-size" aria-hidden="true"></i>
        <input type="text" class="form-control" id="instagram" placeholder="Lien Instagram" [(ngModel)]="lienInsta" [ngModelOptions]="{standalone:true}">
      </div>
    </form>
  </mat-card>
</div>


<div class="main-div" fxLayoutAlign="space-around center" fxFlexFill>
  <mat-card fxFlex="30">
    <mat-card-title class="title" >Gestion des médias</mat-card-title>
    <h3> Images </h3>
    <form #imagesForm="ngForm">
      <input type="file" (change)="onFileChanged($event)" #fileInput>
      <button (click)="onUpload()"> Upload </button>
    </form>
    <h3> Vidéos </h3>
    <form [formGroup]="urlVideoForm">
      <button type="button" (click)="addUrl()" class="btn btn-primary" style="float: right"> Ajouter URL </button>
      <table class="table borderless" formArrayName="urls">
        <tr *ngFor="let url of urls().controls |slice:0:limit; let i = index" [formGroupName]="i">
          <td class="center-element">
            <label> Url: </label>
            <input type="text" formControlName="libelle">
          </td>
          <td class="center-element">
            <button (click)="removeUrl(i)" class="btn btn-danger" > Supprimer </button>
          </td>
        </tr>
      </table>
    </form>
  </mat-card>
  <mat-card fxFlex="30">
    <form #rsForm="ngForm" (ngSubmit)="rsForm.resetForm()">
      <mat-card-title class="title"> Agriculteurs/Fermes Partenaires </mat-card-title>
    </form>
    <button mat-raised-button type="submit" class="style" (click)="saveInfos()" color="warn" mat-stroked-button>Envoyer</button>
  </mat-card>
</div>
