<div class="footer-container">
<footer class="footer-top">
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">FoodOrigin</h5>

        <p>
          Cette plateforme ainsi que cette application ont été développés par des étudiants de l'ISTIC dans le cadre des projets de M2 MIAGE.
          Il s'agit d'une reprise d'un projet débuté par des étudiants de l'ITESCIA, Université Paris-Seine à Cergy.
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Contacts développeurs</h5>

        <ul class="list-unstyled mb-0">
          <li>
            Emile GEORGET
          </li>
        </ul>
        <ul class="list-unstyled mb-0">
          <li>
            Yaëlle DUBOIS
          </li>
        </ul>
        <ul class="list-unstyled mb-0">
          <li>
            Hélène HEINLE
          </li>
        </ul>
        <ul class="list-unstyled mb-0">
          <li>
            Hajar JAHOUI
          </li>
        </ul>
        <ul class="list-unstyled mb-0">
          <li>
            Edgar LEBRETON
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Email</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="mailto:emile.georget@outlook.fr" class="text-dark">emile.georget@outlook.fr</a>
          </li>
        </ul>
        <ul class="list-unstyled mb-0">
          <li>
            <a href="mailto:yaelle.dubois@etudiant.univ-rennes1.fr" class="text-dark">yaelle.dubois@etudiant.univ-rennes1.fr</a>
          </li>
        </ul>
        <ul class="list-unstyled mb-0">
          <li>
            <a href="mailto:helene.heinle@etudiant.univ-rennes1.fr" class="text-dark">helene.heinle@etudiant.univ-rennes1.fr</a>
          </li>
        </ul>
        <ul class="list-unstyled mb-0">
          <li>
            <a href="mailto:hajar.jahoui@etudiant.univ-rennes1.fr" class="text-dark">hajar.jahoui@etudiant.univ-rennes1.fr</a>
          </li>
        </ul>
        <ul class="list-unstyled mb-0">
          <li>
            <a href="mailto:edgar.lebreton@etudiant.univ-rennes1.fr" class="text-dark">edgar.lebreton@etudiant.univ-rennes1.fr</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3 footer-bottom">
    © 2020 Copyright : FoodOrigin
  </div>
  <!-- Copyright -->
</footer>
</div>
