<h1 mat-dialog-title>Nouveau groupe de transformateur</h1>
<div mat-dialog-content>
  <form>
    <div class="form-group">
      <label for="labels"> Labels </label>
      <mat-select [formControl]="listLabel" class="form-control" id="labels" multiple name="labels"
      placeholder="Selectionnez vos labels">
            <mat-option *ngFor="let label of this.labels" [value]="label.id">{{label.libelle}}</mat-option>
      </mat-select>
    </div>
    <div class="form-group">
      <label for="description"> Description</label>
      <input
        [formControl]="description"
        class="form-control"
        placeholder="description"
        type="text"
      />
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Annuler</button>
  <button mat-raised-button cdkFocusInitial (click)="save()">Valider</button> 
</div>
