.center_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  min-height: 40%;
  cursor: default;
}

.left_img {
  display: block;
  margin-left: 0px;
  margin-right: auto;
  width: 20%;
  min-height: 20%;
  cursor: default;
}

.map_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  min-height: 30%;
  cursor: default;
}

.main-div {
  margin-top: 120px;
}

.p {
  text-align: justify;
}

.img-fluid, mb-4 {
  cursor: default;
}

.card-div {
  background-color: lightgray;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  height: 50%;
}

.v-card {
  width: 15rem;
  margin-left: 20px;
  margin-right: 20px;
}

.card-img-top {
  cursor: default;
}

.card-header {
  font-size: 25px;
}

.card-text {
  text-align: justify;
}

.pres-card {
  margin-top: 60px;
  width: 50%;
}

#contact-card {
  margin-right: 15px;
}

.pres-text {
  font-size: 15px;
}

.btn {
  border: none!important;
  outline: none!important;
  box-shadow: none!important;
}


.contact-button {
  transition: 0.5s!important;
  background: black;
  bottom: 1.25rem;
  position: absolute;
  width: 244px;
  height: 52px;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

#contact-text {
  position: absolute;
  top: 25%;
  bottom: 25%;
  left: 25%;
  right: 25%;
}

.contact-button:hover {
  transition: 0.5s!important;
  background-color: #333333;
}

.contact-button:focus {
  background-color: #333333!important;

}


.google-play-button {
  transition: 0.5s!important;
  background: black;
  width: 244px;
  height: 52px;
}

.google-play-button:hover {
  transition: 0.5s!important;
  background-color: #333333;
}

.google-play-button:focus {
  background-color: #333333!important;
}

#google-play-icon {
  margin-right: 10px;
}

.container {
  display: flex;
  flex-direction: row;
}

