<div fxLayoutAlign="center start" fxFlexFill class="main-div">
  <mat-card fxFlex="50">
    <h1>Où sont transformé les produits que vous achetez?</h1>
    <p>FoodOrigin vous permet de tracer l'origine des produits transformé que vous achetez</p>
    <p>L'application est disponible sur android, n'hésitez pas !</p>
    <img src="assets/images/google_play.png" class="left_img">

    <br>
    <h1>Trouvez facilement des produits locaux !</h1>
    <p>Avec FoodOrigin, evitez facilement les produit qui vienne de trop loins et favorisé les produit locaux qui sont transformé prêt de chez vous
      <br>Tout ce que vous avez à faire c'est scanner la petit estampille sanitaire se trouvant sur les produits.</p>
    <h2>L'estampille sanitaire</h2>
    <p>Tout les produit transformé contenant des produit d'origine animal (lait, viandes) possède un estampille sanitaire sur leur emballage.
      <br>Voici à quoi resemble l'estampille et la correspondance de ce qu'il y a d'ecrit dessus :</p>
    <img src="assets/images/Estampille.png" class="estamp_img">
    <p>N'acheter plus de produit venant de l'autre bout de la France !</p>
    <img src="assets/images/example_far.png" class="center_img">
    <p>Optez pour des produit plus proche de chez vous !</p>
    <img src="assets/images/example_less_less_far.png" class="center_img">
    <img src="assets/images/example_less_far.png" class="center_img">
  </mat-card>
</div>
