.center_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  min-height: 40%;
  cursor: default;
}

.left_img {
  display: block;
  margin-left: 0px;
  margin-right: auto;
  width: 20%;
  min-height: 20%;
  cursor: default;
}

.map_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  min-height: 30%;
  cursor: default;
}

.main-div {
  margin-top: 120px;
}

.p {
  text-align: justify;
}

.img-fluid, mb-4 {
  cursor: default;
}
