.center_img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  min-height: 30%;
}

.left_img{
  display: block;
  margin-left: 0px;
  margin-right: auto;
  width: 30%;
  min-height: 30%;
}

.estamp_img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  min-height: 75%;
   }

div{
  z-index: -1;
  position:relative;
}
