<div class="main-div" fxFlexFill fxLayoutAlign="center start">
  <mat-card fxFlex="50">
    <h1>FoodOrigin c'est quoi ?</h1>
    <p>
      FoodOrigin est une application permettant de savoir ou sont transformer les produits alimentaires contenant des aliment d'origine animal.
      <br>
      Nous utilisons l'estampille sanitaire présente sur chacun de ces produits pour obtenir les informations du lieu de transformation du produit.
      <br>
      FoodOrigin facilite la visibilité de l'origine des produit en "décryptant" l'estampille sanitaire de façon automatique.
    </p>
    <img class="estamp_img" src="assets/images/Estampille.png">

    <p>FoodOrigin est une application disponible gratuitement sur android !</p>
    <img class="left_img" src="assets/images/google_play.png">

    <h1>Mettez votre savoir-faire en avant</h1>
    <p>FoodOrigin fournis des informations simple et préscise sur l'origin de la transformation du produit,
      mais chaque transformateurs peut, s'il le souhaite, souscrire à notre offre permettant d'ajouter plus d'informations concernant leur produit,
      leur savoir-faire ou autres.
      <br>
      Mettez en avant plus que votre origine, mettez en avant votre savoir-faire !
    </p>
    <p>Voici un exemple de résultat lorsque l'on scan l'estampille d'un produit</p>
    <img class="estamp_img" src="assets/images/exemple_1.jpg">

    <p>Mais en souscrivant à noter offre, ce résultat proposera une mise en valeur en fonction de vos désire !</p>
    <p>WIP, exemple à updater</p>
    <img class="estamp_img" src="assets/images/exemple_2.jpg">
  </mat-card>
</div>
