<div fxFlexFill fxLayoutAlign="center start">
  <mat-card fxFlex="50">
    <h1>FoodOrigin c'est quoi ?</h1>
    <p>
      FoodOrigin est une application permettant de savoir ou sont transformer les produits alimentaires contenant des aliment d'origine animal.
      <br>
      Nous utilisons l'estampille sanitaire présente sur chacun de ces produits pour obtenir les informations du lieu de transformation du produit.
      <br>
      Grâce à FoodOrigin, tout le monde peut savoir d'ou viennent les produits enter leur mains
    </p>
    <img class="estamp_img" src="assets/images/Estampille.png">

    <h1>Où sont transformé les produits que vous achetez ?</h1>
    <p>FoodOrigin vous permet de tracer l'origine des produits transformés que vous achetez</p>
    <p>L'application est disponible sur Android, n'hésitez pas !</p>
    <img class="left_img" src="assets/images/google_play.png">

    <br>
    <h1>Trouvez facilement des produits locaux !</h1>
    <p>Avec FoodOrigin, évitez facilement les produits qui viennent de loin et favorisez les produits locaux qui sont
      transformés prêt de chez vous
      <br>Tout ce que vous avez à faire c'est scanner la petite estampille sanitaire se trouvant sur les produits.</p>
    <h2>L'estampille sanitaire</h2>
    <p>Tous les produits transformés contenant des produits d'origine animale (lait, viandes...) possèdent une
      estampille sanitaire sur leur emballage.
      <br>Voici à quoi ressemble l'estampille et sa signification :</p>
    <img class="estamp_img" src="assets/images/Estampille.png">
    <p>N'achetez plus de produit venant de l'autre bout de la France !</p>
    <img class="center_img" src="assets/images/example_far.png">
    <p>Optez pour des produits plus proches de chez vous !</p>
    <img class="center_img" src="assets/images/example_less_less_far.png">
    <img class="center_img" src="assets/images/example_less_far.png">
  </mat-card>
</div>
