<div fxLayoutAlign="center center" fxFlexFill *ngIf="!topBarService.isConnected" >
  <mat-card fxFlex="25">

    <mat-toolbar  class="mat-toolbar" ><h1>Connexion</h1></mat-toolbar>

      <form name="form" #f="ngForm" fxLayoutAlign="stretch" fxLayout="column" class="login.form" (ngSubmit)="f.form.valid && onSubmit()" >

          <mat-form-field appearance = "standard">
            <mat-label>Email</mat-label>
            <input name="username" matInput [(ngModel)]="form.username" required/>
          </mat-form-field>
          <mat-form-field appearance = "standard">
            <mat-label>Mot de passe</mat-label>
            <input name="password" matInput type="password" [(ngModel)]="form.password" required/>
          </mat-form-field>
          <button mat-raised-button type="submit" class="style">Se connecter</button>
          <button mat-button>Mot De Passe Oublié?</button>
      </form>
  </mat-card>
</div>
