.login.form{
    padding: 20px;
}
.mat-toolbar {
    width: 50%;
    margin: 0 auto;
    background-color:white;
}
.style {
    background-color: #F06449;
  }

.main-div{
  z-index: -1;
  position:relative;
}
