<div class= "login-align" fxLayoutAlign="center center" fxFlexFill *ngIf="!topBarService.isConnected" >
  <mat-card fxFlex="50">
    <div class="text-center">
      <mat-card-title class="title" >Connexion</mat-card-title>
      <hr class="hr-light">
  </div>
    <div *ngIf= "alert" class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>Erreur !</strong>  {{this.errorMessage}}
      <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <form [formGroup]="FormLogin" name="form" #f="ngForm" fxLayoutAlign="stretch" fxLayout="column" class="login.form" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="email">Email*</label>
          <input formControlName="username" [ngClass]="{'form-control': true,
          'is-invalid': !username.valid && username.touched}"  type="email" class="form-control" id="email" placeholder="Email" name="username" [(ngModel)]="form.username" required>
          <small *ngIf="username.errors?.required && username.touched" class="form-text custom-invalid-feedback">Champ requis</small>
        </div>
        <div class="form-group col-md-12">
          <label for="password">Mot de passe*</label>
          <input formControlName="password"
          [ngClass]="{'is-invalid': password.errors && password.touched}"
          type="password" class="form-control" id="password" placeholder="Mot de passe" name="password" [(ngModel)]="form.password">
          <small *ngIf="password.hasError('required')" class="form-text custom-invalid-feedback">Mot de passe requis</small>
        </div>
      </div>
      <button mat-raised-button type="submit" class="style">Se connecter</button>
      <button mat-button (click)="loadPasswordForgottenPage()">Mot de passe oublié?</button>
    </form>
</mat-card>
</div>
