<div class="align-forgot-password" fxFlexFill fxLayoutAlign="center center">
  <form name="form" #f="ngForm" fxLayoutAlign="stretch" fxLayout="column" class="login.form" (ngSubmit)="f.form.valid && onSubmit()" >
  <mat-card class="mat-elevation-z8" fxFlex="50">
      <mat-card-title class="title">Mot de passe oublié</mat-card-title>
      <p> Si vous avez oublié votre mot de passe, veuillez indiquez l'adresse e-mail associée à votre espace client.
        Nous vous enverrons un lien pour réinitialiser votre mot de passe.
      </p>
      <mat-form-field>
        <mat-label>Mail</mat-label>
          <input name="email" [(ngModel)]="email" matInput placeholder="Ex. abc@mail.com" required>
        </mat-form-field>
        <div fxLayoutAlign="center center"><button mat-raised-button type="submit" color="warn" mat-stroked-button class="button">Valider</button></div>
    </mat-card>
  </form>
</div>
