<div class="align-forgot-password"  fxFlexFill fxLayoutAlign="center center">
  <form [formGroup]="myForm" name="form" #f="ngForm" fxLayoutAlign="stretch" fxLayout="column" class="login.form" (ngSubmit)="onSubmit()" >
  <mat-card class="mat-elevation-z8" fxFlex="50">
      <mat-card-title class="title">Mot de passe oublié</mat-card-title>
      <p> Si vous avez oublié votre mot de passe, veuillez indiquez l'adresse e-mail associée à votre espace client.
        Nous vous enverrons un lien pour réinitialiser votre mot de passe.
      </p>
      <div *ngIf="alert" class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Erreur !</strong> {{erreurMessage}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <label>Mail*</label>
        <div class="form-group col-md-6">
          <input formControlName="mail" [ngClass]="{'form-control': true,
          'is-invalid': !mail.valid && mail.touched}" id="mail" type="email" class="form-control" name="mail" [(ngModel)]="email" placeholder="Ex. abc@mail.com" required>
          <small *ngIf="mail.errors?.required && mail.touched" class="form-text custom-invalid-feedback">Champ requis</small>
          <small *ngIf="mail.errors?.email && mail.touched" class="form-text custom-invalid-feedback">Entrez l'adresse e-mail dans un format correct: nom@exemple.com</small>
        </div>
          <div fxLayoutAlign="center center"><button mat-raised-button type="submit" color="warn" mat-stroked-button class="button">Valider</button></div>
    *Champ obligatoire
    </mat-card>
  </form>
</div>
