.align-forgot-password {
  margin-top: 15%;
  margin-bottom: 0%;
}

.button {
  background-color: #F06449;
  border: none!important;
  outline: none!important;
  box-shadow: none!important;
}

.button:hover {
  background-color: #F15025;
}
