.align-contact {
  margin-top: 10%;
  margin-bottom: 0%;
}

.button {
  background-color: #F06449;
  border: none!important;
  outline: none!important;
  box-shadow: none!important;
}

.button:hover {
  background-color: #F15025;
}

.button:focus {
  background-color: #F15025!important;
}
