:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #F06449;
  color: #EFEFEF;
  font-weight: 700;
}

/* label style */
.mat-tab-link{
  color: #EFEFEF;
}

/* Styles for the ink bar */
.mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background: #EFEFEF;
}

.topnav{
  display: flex;
  align-items: center;
  /* push the nav to the right */
  margin-left: auto;
  /* move it a bit back away from the edge */
  margin-right: 20px;
}

.left_img{
  display: block;
  margin-left: 0px;
  margin-right: auto;
  width: auto;
  height: 100%;
}
