<!-- Toolbar -->
<div class="toolbar" role="banner">

  <img src="assets/images/foodorigintransp_white.png" class="left_img" [routerLink]="['/accueil']">

  <nav mat-tab-nav-bar class="topnav">
<!--    <a mat-tab-link-->
<!--       *ngFor="let link of navLinks"-->
<!--       [routerLink]="link.link"-->
<!--       routerLinkActive #rla="routerLinkActive"-->
<!--       [active]="rla.isActive">-->
<!--      {{link.label}}-->
<!--    </a>-->

    <a class="nav-link" id="home_btn" [routerLink]="['/accueil']" >Accueil</a>
    <a class="nav-link" id="company_space_btn" [routerLink]="['/user']" *ngIf="!topBarService.isAdmin && topBarService.isConnected" >Espace entreprise</a>
    <a class="nav-link" id="account_management_btn" [routerLink]="['/userValidation']" *ngIf="topBarService.isAdmin && topBarService.isConnected">Gestion des comptes</a>
    <a class="nav-link" id="join_btn" [routerLink]="['/join']" *ngIf="!topBarService.isConnected">Rejoindre</a>
    <a class="nav-link" id = "profile_btn" [routerLink]="['/profil']" *ngIf="topBarService.isConnected">Profil</a>
    <a class="nav-link" id="log_in_btn" [routerLink]="['/login']" *ngIf="!topBarService.isConnected">Connexion</a>
    <a class="nav-link" id="log_out_btn" [routerLink]="['/accueil']" *ngIf="topBarService.isConnected" (click)="onClick($event)">Déconnexion</a>
  </nav>
</div>
