<div fxLayoutAlign="center center" fxFlexFill *ngIf="!topBarService.isConnected">
    <mat-card fxFlex="54">
      <mat-card-title class="title" >Inscription</mat-card-title>
      <form [formGroup]="myForm" name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="email">Email*</label>
            <input formControlName="username" [ngClass]="{'form-control': true,
            'is-invalid': !username.valid && username.touched,
            'is-valid': username.valid}"  type="email" class="form-control" id="email" placeholder="Email" name="username" [(ngModel)]="form.username" [ngModelOptions]="{standalone: true}" >
            <small *ngIf="username.errors?.required && username.touched" class="form-text custom-invalid-feedback">Champ requis</small>
            <small *ngIf="username.errors?.email && username.touched" class="form-text custom-invalid-feedback">entrez l'adresse e-mail dans le format correct, comme nom@exemple.com</small>
          </div>
          <div class="form-group col-md-3">
            <label for="password">Mot de passe*</label>
            <input formControlName="password"
            [ngClass]="{'is-invalid': password.errors && password.touched}"
            type="password" class="form-control" id="password" placeholder="mot de passe" name="password" [(ngModel)]="form.password">
            <small *ngIf="password.hasError('required')" class="form-text custom-invalid-feedback">password requis</small>
          </div>
          <div class="form-group col-md-3">
            <label for="confpassword">Confirmer mot de passe*</label>
            <input formControlName="confPassword"  
            [ngClass]="{'is-invalid': confiPassword.errors && confiPassword.touched}"
            type="password" class="form-control" id="confpassword" placeholder="mot de passe" name="confPassword" [(ngModel)]="confPassword">
            <small *ngIf="confiPassword.hasError('passwordMismatch')" class="form-text custom-invalid-feedback">password ne correspond pas</small>
            <small *ngIf="confiPassword.hasError('required')" class="form-text custom-invalid-feedback">confirmation mot de passe est requis</small>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="siret">Siret*</label>
            <input formControlName= "siret"
            [ngClass]="{ 
            'form-control':true, 
            'is-invalid':!numSiret.valid &&  numSiret.touched,
            'is-valid': numSiret.valid }"
            type="text" class="form-control" id="siret" placeholder="Siret" name="siret" [(ngModel)]="siret" (ngModelChange)="onTypeTransformateurSelected($event)">
          <small *ngIf= "numSiret.errors?.required && numSiret.touched" class="form-text custom-invalid-feedback" >Champ requis</small>
          <small *ngIf= "numSiret.errors?.pattern && numSiret.touched" class="form-text custom-invalid-feedback" >Le numéro siret doit comporter 14 caractères </small>

          </div>
          <div class="form-group col-md-6">
            <label for = "type">Type transformateur*</label>
            <select id ="type"  name = "selectedType" [(ngModel)]="selectedType" class="form-control" >
              <option></option>
              <option *ngFor="let item of type">{{item.libelle}}</option>
            </select>
          </div>
        </div>
        *Champs obligatoire
        <button mat-raised-button type="submit" class="style">S'inscrire</button>
      </form>
    </mat-card>
</div>
