<div class="join-align" fxLayoutAlign="center center" fxFlexFill *ngIf="!topBarService.isConnected">
    <mat-card fxFlex="54">
      <mat-card-title class="title" >Inscription</mat-card-title>
      <form [formGroup]="myForm" name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="email">Email*</label>
            <input formControlName="username" [ngClass]="{'form-control': true,
            'is-invalid': !username.valid && username.touched,
            'is-valid': username.valid}"  type="email" class="form-control" id="email" placeholder="Email" name="username" [(ngModel)]="form.username" required>
            <small *ngIf="username.errors?.required && username.touched" class="form-text custom-invalid-feedback">Champ requis</small>
            <small *ngIf="username.errors?.email && username.touched" class="form-text custom-invalid-feedback">Entrez l'adresse e-mail dans un format correct: nom@exemple.com</small>
          </div>
          <div class="form-group col-md-3">
            <label for="password">Mot de passe*</label>
            <input formControlName="password"
            [ngClass]="{'is-invalid': password.errors && password.touched}"
            type="password" class="form-control" id="password" placeholder="mot de passe" name="password" [(ngModel)]="form.password">
            <small *ngIf="password.hasError('required')" class="form-text custom-invalid-feedback">Mot de passe requis</small>
          </div>
          <div class="form-group col-md-3">
            <label for="confpassword">Confirmer mot de passe*</label>
            <input formControlName="confPassword"
            [ngClass]="{'is-invalid': confiPassword.errors && confiPassword.touched}"
            type="password" class="form-control" id="confpassword" placeholder="mot de passe" name="confPassword" [(ngModel)]="confPassword">
            <small *ngIf="confiPassword.hasError('passwordMismatch')" class="form-text custom-invalid-feedback">Les mots de passe
              ne correspondent pas</small>
            <small *ngIf="confiPassword.hasError('required')" class="form-text custom-invalid-feedback">La confirmation du mot
              de passe est requise</small>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="numT">Numéro de téléphone *</label>
            <input formControlName="numTelephone" [ngClass]="{
            'form-control':true,
            'is-invalid':!numTel.valid &&  numTel.touched,
            'is-valid': numTel.valid }"
                   type="text" class="form-control" [maxLength]="10" id="numT" placeholder="Numéro de téléphone" name="numT" [(ngModel)]="numTelephone">
            <small *ngIf= "numTel.errors?.required && numTel.touched" class="form-text custom-invalid-feedback" >Champ requis</small>
            <small *ngIf= "numTel.errors?.pattern && numTel.touched" class="form-text custom-invalid-feedback" >Le numéro de télephone doit comporter 10 chiffres </small>
          </div>
          <div class="form-group col-md-4">
            <label for="siret">Siret*</label>
            <input formControlName= "siret"
            [ngClass]="{
            'form-control':true,
            'is-invalid':!numSiret.valid &&  numSiret.touched,
            'is-valid': numSiret.valid }"
            type="text" class="form-control" [maxLength]="14" id="siret" placeholder="Siret" name="siret" [(ngModel)]="siret">
          <small *ngIf= "numSiret.errors?.required && numSiret.touched" class="form-text custom-invalid-feedback" >Champ requis</small>
          <small *ngIf= "numSiret.errors?.pattern && numSiret.touched" class="form-text custom-invalid-feedback" >Le numéro siret doit comporter 14 chiffres  </small>
          </div>
          <div class="form-group col-md-4">
            <label for = "type">Type transformateur*</label>
            <mat-select id ="type"  name= "selectedType" formControlName="selectedType" class="form-control" (ngModelChange)="onTypeTransformateurSelected($event)">
              <mat-option *ngFor="let item of type" [value]="item">{{item.libelle}}</mat-option>
            </mat-select>
          </div>
        </div>
        *Champ obligatoire
        <button mat-raised-button type="submit" class="style">S'inscrire</button>
      </form>
    </mat-card>
</div>
