  .join.form{
    min-width: 150px;
    max-width: 500px;
    width: 100%;}
   .example-full-width{
    width: 100%;
   }

   .join-align {
     margin-top: 10%!important;
     margin-bottom: 0%;
   }

  .title {
    text-align:center;
    margin: 0 auto;
    padding:5%;
}
  .style {
    width: 200px;
    margin-left: 45%;
    background-color: #F06449;
    color: white;
    border: none!important;
    outline: none!important;
    box-shadow: none!important;
    transition: 0.5s!important;
  }


  .style:hover {
    background-color: #F15025;
    transition: 0.5s!important;
  }
