  .join.form{
    min-width: 150px;
    max-width: 500px;
    width: 100%;}
   .example-full-width{
    width: 100%;
   }

  .title {
    text-align:center;
    margin: 0 auto;
    padding:5%;
}
  .style {
    width: 200px;
    margin-left: 45%;
    background-color: #F06449;
  }
